$custom-bg-color: #543000;

//Navbar
.navigationbar {
  background: rgba(255, 255, 255, .15) 0% 0% no-repeat padding-box;
  opacity: 1;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  min-height: 90px;
}
.navigationbar_expanded {
  // min-height: 100vh;
  background-color: $custom-bg-color;
}

.navbartoggle_container {
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

//Navbar.Toggle
.toggleBtn {
  border: none !important;
  &:focus {
    box-shadow: none !important;
  }
}

//Nav.Link
.navLinks {
  margin: 0 35px;
}
.navLinks.activeLink {
  font-weight: bold !important;
}
@media screen and (max-width: 991.98px) {
  .navLinks {
    margin-left: 0;
    margin-right: 0;
  }
}

.cartIconContainer {
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

//NOTE - previous navbar styles
/* $custom-bg-color: #543000;
$custom-link-color: #ffffff;

//Navbar
.headerBar {
  background: rgba(255, 255, 255, .15) 0% 0% no-repeat padding-box;
  opacity: 1;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);

  position: fixed;
  top: 0;
  width: 100%;
  height: 90px;
}
@media screen and (max-width: 991.98px) {
  .headerBar {
    background-color: $custom-bg-color;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
  }
  .headerBar.open {
    min-height: 100vh;
  }
}

//Navbar.Toggle
.toggleBtn {
  height: 90px;
  color: $custom-link-color;
  padding: 0;
  border: none;
  font-weight: bold;
}
.toggleBtn:focus {
  box-shadow: none;
}

//Nav.Link
.navLinks {
  color: $custom-link-color !important;
  font-weight: normal;
  margin: 0 35px;
}
.navLinks.activeLink {
  font-weight: bold;
}

.cartIconContainer {
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}
 */