$bg-color-desktop: #2B1801;
$bg-color-mobile: #7B5038;
$text-color: #ffffff;

//InputGroup
.input_group {
  color: $text-color;
}

//Form.Control
.input_field {
  font-size: 1rem !important;
  border-radius: 0 !important;
}

//Button
.submit_btn {
  background-color: $bg-color-desktop;
  border-color: $bg-color-desktop !important;
  font-size: 1rem !important;
  border-radius: 0 !important;

  &:hover {
    color: $bg-color-desktop;
    background-color: $text-color;
  }
}

@media screen and (max-width: 767.98px) {
  .input_field {
    border-radius: 10px 0 0 10px !important;
    border-color: $bg-color-mobile !important;
  }
  
  .submit_btn {
    background-color: $bg-color-mobile;
    border-color: $bg-color-mobile !important;
    border-radius: 0 10px 10px 0 !important;

    &:hover {
      color: $bg-color-mobile;
      background-color: $text-color;
    }
  }
}

/* .form_container {
  display: flex;
}

.input_field_container {
  flex: 4;
}

//Form-Control
.input_field {
  width: 100%;
}

.btn_container {
  flex: 2;
}

//Button
.submit_btn {
  width: 100%;
  background-color: $bg-color-desktop;
  border-color: $bg-color-desktop !important;
} */