.contact_image {
  width: 100%;
  // height: 100%;
  aspect-ratio: .8;
  background-image: url('../../../../public/images/contact/dog.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}