.heroText {
    text-align: left;
    color: #FFFFFF;
    margin-top: -15rem;
    position: absolute;
}

@media (max-width:767px) {

    .heroText {
        text-align: left;
        color: #FFFFFF;
        margin-top: -5rem;
    }
    
}