.sectionGreen {
    background-color: #217E001A;
    padding-top: 0rem;
}

.lightgreen {
    background-color: red;

}
.linkColor {
    color: #543000;
}

@media (max-width:767px) {

    .sectionGreen {
        background-color: #217E001A;
        padding-top: 0rem;
    }
}