.banner_image_container {
  width: 100%;
  height: 768px;
  background-image: url('../../../../public/images/shop/banner.png');
  background-repeat: no-repeat;
  background-position: 60% center;
  background-size:cover
}

.banner_text {
  bottom: 12%;
}