.sectionBrown {
    background-color: #F1EDE6;
}

.Furry {
    color: #543000;
}

.ReadMore {
    color: #217E00;
}

.MoreBlogs {
    color: #FFFFFF;
    background-color: #543000;
    border-radius:40px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 55px;
    padding-right: 55px;
    border: none;
}